<div class="col-sm-4">
  <span class="help-block">Query this beacon.</span>
  <form novalidate>
  <div class="form-group input-container">
    <label for="chromosome">Chromosome:</label>
    <input name="chromosome" id="chromosome" type="text" class="form-control" ng-model="bform.chromosome"/>
  </div>
  <div class="form-group input-container">
    <label for="position">Position:</label>
    <input name="position" id="position" type="text" class="form-control" ng-model="bform.position"/>
  </div>
  <div class="form-group input-container">
    <label for="alternativeBases">Allele:</label>
    <input name="alternateBases" id="alternativeBases" type="text" class="form-control" ng-model="bform.alternateBases"/>
  </div>
  </form>
  <h4>Result: <i ng-show="showSpinner" class="fa fa-spin fa-spinner"></i> {{result["response"]["exists"] || result["errormsg"] }}</h4>
</div>
<div class="col-sm-8">

</div>